[submodule "perllib"]
	path = perllib
	url = git://git.openaustralia.org/perllib.git
[submodule "phplib"]
	path = phplib
	url = git://git.openaustralia.org/phplib.git
[submodule "rblib"]
	path = rblib
	url = git://git.openaustralia.org/rblib.git
[submodule "twfy"]
	path = twfy
	url = git://git.openaustralia.org/twfy.git
[submodule "openaustralia-parser"]
	path = openaustralia-parser
	url = git://git.openaustralia.org/openaustralia-parser.git
[submodule "shlib"]
	path = shlib
	url = git://git.openaustralia.org/shlib.git
